[submodule "kubelo+Azure/kubelo"]
	path = kubelo+Azure/kubelo
	url = https://github.com/sk4zuzu/kubelo.git
[submodule "kubelo+AWS/kubelo"]
	path = kubelo+AWS/kubelo
	url = git@github.com:sk4zuzu/kubelo.git
