aiofiles==0.7.0; python_version >= "3.7" and python_version < "4.0"
aiohttp==3.7.4.post0; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
httptools==0.3.0; python_full_version >= "3.5.0" and python_version >= "3.7"
idna==3.2; python_version >= "3.6"
multidict==5.2.0; python_version >= "3.7"
sanic-routing==0.7.1; python_version >= "3.7"
sanic==21.9.1; python_version >= "3.7"
typing-extensions==3.10.0.2; python_version >= "3.6"
ujson==4.2.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
uvloop==0.16.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
websockets==10.0; python_version >= "3.7"
yarl==1.7.0; python_version >= "3.6"
