[all:vars]
ansible_user=centos
ee_token=abcdefgh:ijklmnop
ee_version="6.2"
ssh_pubkey=ssh-rsa ...

[opennebula-node-kvm]
c1b1 ansible_host=10.30.2.20
c1b2 ansible_host=10.30.2.21

[opennebula]
c1a1 ansible_host=10.30.2.10
