[all:vars]
ansible_user=centos
ee_token=abcdefgh:ijklmnop
ee_version="6.2"
ssh_public_key="{{ lookup('file', '~/.ssh/id_rsa.pub') | trim }}"

[opennebula]
c1a1 ansible_host=10.30.2.10

[opennebula_node_kvm]
c1b1 ansible_host=10.30.2.20
c1b2 ansible_host=10.30.2.21
