[all:vars]
ansible_user=ubuntu
ee_token=abcdefgh:ijklmnop
ee_version="6.2"
ssh_public_key="{{ lookup('file', '~/.ssh/id_rsa.pub') | trim }}"

[opennebula]
u1a1 ansible_host=10.50.2.10

[kvm]
u1b1 ansible_host=10.50.2.20
u1b2 ansible_host=10.50.2.21

#[lxc]
#u1b1 ansible_host=10.50.2.20
#u1b2 ansible_host=10.50.2.21

#[firecracker]
#u1b1 ansible_host=10.50.2.20
#u1b2 ansible_host=10.50.2.21
