SUBSCRIPTION_ID=subscription-id

LOCATION=location

SERVICE_PRINCIPAL=service-principal
CLIENT_ID=client-id
CLIENT_SECRET=client-secret
TENANT_ID=tenant-id

RESOURCE_GROUP_NAME=resource-group-name
STORAGE_ACCOUNT_NAME=storageaccountname
CONTAINER_NAME_TFSTATE=container-name-tfstate
CONTAINER_NAME_KUBELO=container-name-kubelo

IMAGE_REGISTRY=image-registry
